html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, img, var, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url("https://use.typekit.net/utx1lxb.css");

html{
  background-color: rgb(253,253,253);
}
.header{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 35px;
	margin-left: 32px;
	margin-right: 32px;
}
.right{
	grid-column-start: 2;
}
a{
	font-family: nimbus-sans, helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: rgb(40,40,40);
	text-decoration: none;
}
a:hover {
  color: rgb(253,253,253);
}

p{
	font-family: nimbus-sans, helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 1.59;
	color: rgb(40,40,40);
}
.cvone{
	display: grid;
	grid-template-columns: 60px 700px;
	grid-template-rows: 1fr;
	margin-left: 33px;
	margin-bottom: 65px;
	padding-top: 70px;
}
.one{
	grid-column: 1 / span 2;
	grid-row-start: 1;
}
.two{
	grid-column: 2;
	grid-row-start: 1;
}
.cvtwo{
	display: none;
	margin-left: 8px;
	margin-bottom: 65px;
	padding-top: 70px;
}

@media only screen and (max-width: 750px){
	.header{
		margin-top: 18px;
		margin-left: 8px;
		margin-right: 8px;
	}
	.cvone{
		display: none;
	}
	.cvtwo{
		display: block;
	}
}
