html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, img, var, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url("https://use.typekit.net/utx1lxb.css");

html{
  background-color: rgb(253,253,253);
}

.header{
	display: grid;
	grid-template-columns: 1fr;
	margin-top: 35px;
	margin-left: 32px;
	margin-right: 32px;
}
.right{
	grid-column-start: 2;
}
a{
	font-family: nimbus-sans, helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: rgb(40,40,40);
	text-decoration: none;
}
a:hover {
  color: rgb(253,253,253);
}

.work{
   display: grid;
   align-items: center;
   justify-content: center;
	 padding-top: 92px;
	 margin-left: 35px;
	 margin-right: 35px;
}

img {
	padding-bottom: 35px;
	max-width: 100%;
  height: auto;
}

.ten{
	margin-bottom: 60px;
}

@media only screen and (max-width: 640px) {
	.header{
		margin-top: 18px;
		margin-left: 8px;
		margin-right: 8px;
	}
	.work{
	   display: grid;
	   align-items: center;
	   justify-content: center;
		 margin-left: 8px;
		 margin-right: 8px;
	}
	img {
		padding-bottom: 9px;
	}
}
